@font-face {
    font-family: 'Dela Gothic One';
    src: url(./fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.section1{
    display: flex;
    justify-content: space-between;
    background: #F6F5F4;
    padding-left: 150px;
    padding-right: 150px;
}

.div1 > h1, a{
    margin-right: 30px;
    margin-top: 31px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 > h1{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.vl{
    margin-top: 40px;
    margin-right: 30px;
    height: 17px;
    border: 1.20466px solid #E0E0E0;
}

.div1 > a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    text-decoration: none;
}

.div2 > a, button{
    margin-top: 31px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 > a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-right: 21px;
}

.div2 > button{
    width: 90px;
    height: 36px;
    background: #2B788B;
    border-radius: 12px;
    border: none;

    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    cursor: pointer;
}

span{
    margin-left: 4px;
}

hr{
    margin: 0px;
    padding: 0px;
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F5F4;
    padding-left: 150px;
    padding-right: 150px;
}

.img1{
    margin-top: 94px;
    margin-bottom: 135px;
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F5F4;
}

.cont_div{
    background-color: #F6F5F4;
    position: relative;
    display: none;
}

.container{
    background-color: #FFFFFF;
    width: 215px;
    padding: 20px;
    border-radius: 14px;
    position: absolute;
    top: 80px;
    left: -100px;
}

.dropbox:hover ~ .cont_div{
    display: inline;
}

.text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    margin: 0px;
}
.text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #828282;
    margin-top: 20px;
    margin-bottom: 0px;
}

.div4{
    margin-top: 95px;
}
.div4 > span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
}

.div4 > h1{
    width: 531px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;

    margin-top: 24px;
    margin-bottom: 0px;
}

.div4 > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

    margin-top: 30px;
    margin-bottom: 0px;
}

.div4 > button{
    width: 165px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;
    text-align: center;
    padding: 14px 22px;
    border: none;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #2B788B;

    margin-top: 46px;
    margin-bottom: 0px;
}

.icons{
    margin-top: 48px;
    display: flex;
    margin-bottom: 135px;
}

.icons > div > strong{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-right: 100px;
}

.icons > div > strong > span{
    color: #2B788B;
}

.icons > div > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
    margin-left: 24px;
    margin-top: 3px;
}
#mini{
    margin-left: 0px;
    margin-top: 3px;
}

.section3{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-top: 78px;
    padding-right: 150px;
}

.section3 > div > h1{
    width: 474px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
}

.section3 > div > p{
    width: 396px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

    margin-top: 30px;
    margin-bottom: 0px;
}

.shoes{
    margin-top: 64px;
    width: 129px;
    background: #F2D4DC;
    border-radius: 14px;
    text-align: center;
    margin-right: 21px;
}

.img_shoes{
    margin-top: -33px;
}

.shoes > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #945069;
}

.speaker{
    margin-top: 64px;
    width: 172px;
    text-align: center;
    background: #C3DCE3;
    border-radius: 14px;
}

.img_speaker{
    margin-top: -33px;
}

.speaker > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #2B788B;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
    padding-left: 250px;
    padding-right: 150px;
}

.section4 > div > h1{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
}

.section4 > div > p {
    width: 396px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.section4 > div > button{
    width: 131px;
    padding: 14px 22px;
    text-align: center;
    background: #C3DCE3;
    border-radius: 100px;
    border: none;
    margin-top: 34px;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #2B788B;
}

.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 150px;
    padding-right: 150px;
}

.section5 > div > h1{
    width: 474px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 149px;
}

.section5 > div > p{
    width: 397px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.section5 > div > button{
    width: 129px;
    padding: 14px 22px;
    background: #C3DCE3;
    border-radius: 100px;
    border: none;
    margin-top: 34px;
    margin-bottom: 149px;
    cursor: pointer;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #2B788B;
}

.section6{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #F6F5F4;
}

.section6 > div > a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
    margin-right: 30px;
    margin-top: 40px;
    text-decoration: none;
}

.section6 > div > address{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;    
    margin-left: 30px;
    margin-top: 40px;
    cursor: pointer;
}

.line{
    margin-left: 150px;
    margin-right: 150px;
    background: #E0E0E0;
}

.section7{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #F6F5F4;
}

.section7 > div > img{
    margin-top: 24px;
    margin-bottom: 44px;
    margin-right: 34px;
}

.section7 > div > address{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #757575;
    margin-top: 24px;
    margin-bottom: 44px;
}
