@font-face {
    font-family: 'Dela Gothic One';
    src: url(./fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.section1{
    display: flex;
    align-items: center;
    background: #F6F5F4;
    height: 84px;
}

.sec1_div{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.div1 > h1, a{
    margin-right: 30px;
    margin-top: 31px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 > h1{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.vl{
    margin-top: 33px;
    margin-right: 30px;
    height: 17px;
    border: 1.20466px solid #E0E0E0;
}

.div1 > a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    text-decoration: none;
}

.container{
    background-color: #FFFFFF;
    width: 215px;
    padding: 20px;
    border-radius: 14px;
    position: absolute;
    top: 60px;
    display: none;
}

.dropbox{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    text-decoration: none;
}

.dropdown:hover .container{
    display: block;
}

.text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    margin: 0px;
}
.text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #828282;
    margin-top: 20px;
    margin-bottom: 0px;
}

.div2{
    margin-left: auto;
}

.div2 > a, button{
    margin-top: 31px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 > a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-right: 21px;
}

.div2 > button{
    width: 90px;
    height: 36px;
    background: #2B788B;
    border-radius: 12px;
    border: none;

    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    cursor: pointer;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F5F4;
}


.sec2_div{
    width: 1180px;
    display: flex;
    align-items: center;
    margin-top: 94px;
}

hr{
    margin: 0px;
    padding: 0px;
}


.div4 > span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
}

.div4 > h1{
    width: 531px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;

    margin-top: 24px;
    margin-bottom: 0px;
}

.div4 > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

    margin-top: 30px;
    margin-bottom: 0px;
}

.div4 > button{
    width: 165px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;
    text-align: center;
    padding: 14px 22px;
    border: none;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #2B788B;

    margin-top: 32px;
    margin-bottom: 0px;
}

.icons{
    margin-top: 48px;
    display: flex;
    margin-bottom: 135px;
}

.icons > div > strong{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-right: 100px;
}

.icons > div > strong > span{
    color: #2B788B;
}

.icons > div > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
    margin-left: 24px;
    margin-top: 3px;
}
#mini{
    margin-left: 0px;
    margin-top: 3px;
}

.img1_div{
    margin-left: auto;
    margin-bottom: auto;
}

.section3{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 600px;
}

.sec3_div{
    width: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.img2_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3_texts{
    margin-left: auto;
}

.sec3_div > div > h1{
    width: 474px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 121px;
}

.sec3_div > div > p{
    width: 396px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

    margin-top: 30px;
    margin-bottom: 0px;
}

.imgs{
    display: flex;
    margin-bottom: 127px;
}

.shoes{
    margin-top: 64px;
    width: 129px;
    background: #F2D4DC;
    border-radius: 14px;
    text-align: center;
    margin-right: 21px;
}

.img_shoes{
    margin-top: -33px;
}

.shoes > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #945069;
}

.speaker{
    margin-top: 64px;
    width: 172px;
    text-align: center;
    background: #C3DCE3;
    border-radius: 14px;
}

.img_speaker{
    margin-top: -33px;
}

.speaker > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #2B788B;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
}

.sec4_div{
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4_texts > h1{
    width: 475px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
}

.sec4_texts > p {
    width: 396px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.sec4_texts > button{
    width: 131px;
    padding: 14px 22px;
    text-align: center;
    background: #C3DCE3;
    border-radius: 100px;
    border: none;
    margin-top: 34px;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #2B788B;
}

.sec4_texts{
    margin-left: 100px;
}

.img3{
    margin-left: 26px;
}

.section5{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.sec5_div{
    width: 1180px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.sec5_div > div > h1{
    width: 474px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 149px;
}

.sec5_div > div > p{
    width: 397px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.sec5_div > div > button{
    width: 129px;
    padding: 14px 22px;
    background: #C3DCE3;
    border-radius: 100px;
    border: none;
    margin-top: 34px;
    margin-bottom: 149px;
    cursor: pointer;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #2B788B;
}

.section6{
    display: flex;
    align-items: center;
    background-color: #F6F5F4;
}

.sec6_div{
    width: 1180px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
}

.names{
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.help > a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
    text-decoration: none;
    margin-top: 40px;
}

.names > address{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.line1{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F6F5F4;
}
.line{
    width: 1180px;
    background: #E0E0E0;
}

.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F4;
}

.sec7_div{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec7_div > div > img{
    margin-top: 24px;
    margin-bottom: 44px;
    margin-right: 34px;
}

.sec7_div > div > address{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #757575;
    margin-top: 24px;
    margin-bottom: 44px;
}
